#wjbetech {
    margin-top: 5px;
    margin-left: 1.4rem;
    width: 120px;
    height: 30px;
}

.nav--bar {
    width: 100%;
    height: 4rem;
    box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.2);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: white;
}

.nav--bar--left, .nav--bar--right {
    flex: 3;
}

.nav--bar--center {
    display: flex;
    flex: 6;
    justify-content: center;
    color: rgb(173, 122, 1);
    font-weight: 900
}

.nav--bar--center>ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;

    & li {
        font-size: 1rem;
    }
}

.bx {
    padding: 5px;
}