.sidebar {
    flex: 4;
    margin-right: 3rem;
    text-align: center;
    margin-top: 4.5rem;
    margin-left: 50px;
}

.sidebar--item {
    margin-bottom: 4rem;
}

.sidebar--title {
    color: rgb(173, 122, 1);
    font-weight: 700;
}

.sidebar--img {
    margin-top: 10px;
    margin-bottom: 15px;
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sidebar--text {
    text-align: center;
    font-size: 16px;
}

.sidebar--text.follow {
    margin-top: 10px;
}