.single--post {
    flex: 9;
    margin-top: 5rem;
}

.single--post--wrapper {
    width: 80%;
    margin: auto;
}

.single--post--title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: rgb(173, 122, 1);
}

.single--post--img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
    margin-bottom: 30px;
}

.single--post--actions {
    display: flex;
    align-items: center;
    color: grey;
    margin-top: 15px;

    & :first-child {
        color: white;
        background-color: green;
        margin-right: 10px;
    }

    & :last-child {
        color:white;
        background-color: red;
    }

    .bx {
        border-radius: 10px;
        padding: 7px;
    }
}

.single--post--info {
    width: 45%;
    display: flex;
    justify-content: space-between;
    padding: 0 0 5px 0;
    margin-bottom: 1.5rem;
    color: rgb(173, 122, 1);

    & span, b {
        font-size: 15px;
    }
}

p {
    line-height: 1.6;
}

p:not(:last-of-type) {
    margin: 2rem 0 2rem 0;
}